.header {
  background: rgba(255, 255, 255, 1);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 18px;
  border-bottom: 1px solid #d9fff5;
  @media (min-width: $screenT) {
    padding: 19px 24px;
    .chat {
      display: flex;
      margin-right: 14px;
    }
    .profile {
      display: flex;
      margin-right: 42px;
    }
    .phone {
      display: flex;
      margin-right: 14px;
    }
  }
  @media screen and (min-width: $screenL) {
    display: none;
  }
  .header__right-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .header__items {
    list-style: none;
    &:nth-child(1) {
      display: none;
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
    @media screen and (min-width: $screenT) {
      &:nth-child(1) {
        display: flex;
      }
      &:nth-child(2) {
        display: flex;
      }
      &:nth-child(3) {
        display: flex;
      }
    }
  }

  .icon {
    border: none;
    background-color: $background-color_1;
    padding: 0;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    &:hover {
      opacity: 0.5;
    }
  }
  .logo {
    height: 50.81px;
    @media screen and (min-width: $screenT) {
      &::before {
        display: flex;
        content: '';
        width: 2px;
        height: 32px;
        position: absolute;
        background: rgba(234, 234, 234, 1);
        left: 84px;
        top: 28px;
      }
    }
  }
  .header__left {
    display: flex;
    align-items: center;
    @media screen and (min-width: $screenT) {
      display: flex;
      justify-content: space-between;
      gap: 27px;
    }
  }
  .header__right {
    display: flex;
  }
  .burger {
    margin-right: 16px;
  }
  .repair {
    margin-right: 16px;
    @media screen and (min-width: $screenT) {
      &::before {
        right: 140px;
      }
    }
  }
  &::before {
    display: flex;
    content: '';
    width: 2px;
    height: 32px;
    position: absolute;
    background: rgba(234, 234, 234, 1);
    right: 132px;
  }
}
