// Fonts.
$fontBold: 'TT Lakes Bold', sans-serif;
$fontMedium: 'TT Lakes Medium', sans-serif;
$fontRegular: 'TT Lakes Regular', sans-serif;

// Color.
$bgColorGrey: rgba(248, 248, 248, 1);
$bgColorWhite: rgba(255, 255, 255, 1);

$text: rgba(27, 28, 33, 1);
$textLight: rgba(126, 126, 130, 1);

$color_1: inherit;
$color_2: rgba(27, 28, 33, 1);
$color_3: rgba(126, 126, 130, 1);
$font-family_1: $fontRegular;
$font-family_2: 'TT Lakes Bold', sans-serif;
$font-family_3: 'TT Lakes Regular', sans-serif;
$font-family_4: 'TT Lakes Medium', sans-serif;
$background-color_1: transparent;

.title {
  margin: 0;
  padding: 0;
  font-family: $font-family_2;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  color: $color_2;
  font-weight: 200;
  &::before {
    display: block;
    content: '';
    width: 4px;
    height: 40px;
    position: absolute;
    top: 112;
    left: -1px;
    background: rgba(65, 246, 215, 1);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
.content__text {
  margin: 0;
  padding: 0;
  font-family: $font-family_3;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  font-weight: 400;
  margin-bottom: 16px;
  padding-right: 16px;
}
.content__text-extra {
  margin: 0;
  padding: 0;
  display: none;
}
.content__text-extra1 {
  margin: 0;
  padding: 0;
  display: none;
}
* {
  box-sizing: inherit;
  transition: 0.2s ease-in-out;
  &::before {
    box-sizing: inherit;
    transition: 0.2s ease-in-out;
  }
}

.icon {
  border: none;
  background-color: $background-color_1;
  padding: 0;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  &:hover {
    opacity: 0.5;
  }
}
.nav-list__btn {
  border: none;
  background-color: $background-color_1;
  padding: 0;
  align-items: center;
  cursor: pointer;
  font-family: $font-family_3;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: $color_3;
  white-space: nowrap;
  padding: 8px 16px;
  height: 40px;
  &:hover {
    opacity: 0.5;
  }
}
.title__button {
  padding: 8px 16px;
  border: 0;
  white-space: nowrap;
  text-align: left;
}
.main__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  overflow-x: auto;
  margin-bottom: 24px;
  margin-top: 24px;
}
.header__right-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.nav-list__item {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex: 0 0 auto;
}
.header__items {
  list-style: none;
  &:nth-child(1) {
    display: none;
  }
  &:nth-child(2) {
    display: none;
  }
  &:nth-child(3) {
    display: none;
  }
}
.content__link {
  text-decoration: none;
  font-family: $font-family_4;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  &:visited {
    color: $color_1;
  }
  &:link {
    color: $color_1;
  }
  &:active {
    color: $color_1;
  }
  &:hover {
    opacity: 0.5;
  }
}
.header {
  background: rgba(255, 255, 255, 1);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 18px;
  border-bottom: 1px solid #d9fff5;
}
main {
  background: rgba(248, 248, 248, 1);
  background: rgba(248, 248, 248, 1);
}
body {
  font-family: $font-family_1;
  min-width: 320px;
  max-width: 1920px;
  overflow-x: hidden;

  margin: 0 auto;
}
.buttons {
  display: none;
}
.logo {
  height: 50.81px;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
}
.burger {
  margin-right: 16px;
}
.repair {
  margin-right: 16px;
  &::before {
    display: flex;
    content: '';
    width: 2px;
    height: 32px;
    position: absolute;
    background: rgba(234, 234, 234, 1);
    right: 132px;
  }
}
.section {
  position: relative;
  padding-top: 24px;
  padding-left: 16px;
}
.nav-list__btn--active {
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(184, 255, 236, 1);
  border-radius: 3px;
}
.link-image {
  margin-right: 8px;
}
.content__img {
  width: 320px;
  height: 176px;
  min-width: 100%;
  object-fit: cover;
}
.position {
  margin-left: -16px;
}
@media (min-width: 768px) {
  .header {
    padding: 19px 24px;
  }
  .repair {
    &::before {
      right: 140px;
    }
  }
  .logo {
    &::before {
      display: flex;
      content: '';
      width: 2px;
      height: 32px;
      position: absolute;
      background: rgba(234, 234, 234, 1);
      left: 84px;
      top: 28px;
    }
  }
  .header__left {
    display: flex;
    justify-content: space-between;
    gap: 27px;
  }
  .header__items {
    &:nth-child(1) {
      display: flex;
    }
    &:nth-child(2) {
      display: flex;
    }
    &:nth-child(3) {
      display: flex;
    }
  }
  .chat {
    display: flex;
    margin-right: 14px;
  }
  .phone {
    display: flex;
    margin-right: 14px;
  }
  .profile {
    display: flex;
    margin-right: 42px;
  }
  .title {
    margin-left: 8px;
    margin-bottom: 32px;
  }
  .main__nav-list {
    margin-left: 8px;
    margin-bottom: 32px;
  }
  .content__text {
    display: flex;
    width: 100%;
    padding-right: 0px;
  }
  .content {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .conteiner-text {
    flex: 1;
    margin-left: 8px;
    max-width: 36vw;
    max-height: 208px;
    font-family: $font-family_3;
    font-size: 14px;
    line-height: 20px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: $color_2;
  }
  .conteiner-img {
    flex: 1;
  }
  .position {
    margin-left: 48px;
    padding-right: 25px;
  }
  .content__img {
    border-radius: 10px;
    height: 100%;
  }
  .content__text-extra {
    display: flex;
  }
  .content__link {
    margin-top: 10px;
  }
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }
  .section {
    padding-top: 42px;
    height: 500px;
  }
  .buttons {
    display: flex;
  }
  .section-top {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    align-items: center;
  }
  .title__button {
    font-family: $font-family_4;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    color: $color_2;
    font-weight: 600;
  }
  .content__text-extra1 {
    display: inline-block;
  }
  .title {
    margin-bottom: 0px;
  }
  .main__nav-list {
    margin-top: 8px;
    overflow: hidden;
    flex-wrap: wrap;
    margin-bottom: 7px;
  }
  .conteiner-text {
    max-width: 48vw;
  }
  .position {
    padding-right: 29px;
    margin-left: 36px;
  }
  .content__text-extra {
    display: none;
  }
  .content__img {
    max-height: 307px;
  }
}
