.modal-callback {
  background-color: $bgW;
  z-index: 4;
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  padding: 16px;
  height: 100%;
  max-width: 376px;
  display: none;
  @media screen and (min-width: $screenT) {
    padding: 0 32px;
    border-left: 1px solid $shadow;
  }
  @media screen and (max-width: $screenB) {
    right: 0;
  }
  @media screen and (min-width: $screenB) {
    right: auto;
  }

  .callback-form {
    max-width: 440px;
  }
  .callback-form__btn-off {
    background: url(../img/burger-off.svg) no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    @media screen and (min-width: $screenT) {
      position: absolute;
      left: -64px;
      top: 32px;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  .callback-form__h1 {
    font-family: $fontB;
    font-weight: 200;
    line-height: 32px;
    font-size: 24px;
    color: $textD;
    margin-top: 40px;
    margin-bottom: 24px;
    width: 100%;

    &::before {
      content: '';
      background: $hl;
      height: 32px;
      width: 4px;
      position: absolute;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      transform: translateX(-16px);
      @media screen and (min-width: 768px) {
        transform: translateX(-32px);
      }
    }
  }

  .callback-form__tel {
    border: 1px solid $shadowB;
    padding: 12px 16px;
    border-radius: 6px;
    margin-bottom: 16px;
    font-family: $fontR;
    width: 100%;
    max-width: 513px;
    box-sizing: border-box;
    color: $textLG;
  }

  .callback-form__p {
    min-width: 288px;
    max-width: 376px;
    font-size: 14px;
    line-height: 16px;
    color: $textG;
    margin-top: 0;
    margin-bottom: 19px;
  }
  .callback-form__link {
    text-decoration: none;
    color: $textP;
    &:hover {
      text-decoration: underline;
    }
  }
  .callback-form__btn-send {
    background: url(../img/send.svg) no-repeat;
    width: 136px;
    height: 32px;
    border: none;
    position: absolute;
    padding: 0;
    right: 16px;
    @media screen and (min-width: 440px) {
      right: 32px;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.active {
  display: flex;
  left: auto;
  right: 0;
  @media screen and (min-width: $screenB) {
    right: auto;
  }
}
